body {
    box-sizing:border-box;
    flex-direction: column;
    background-color: #b7cedc;
    font-family: 'Roboto Mono', monospace; 
    text-align: center;
    align-items: center;
    font-size: 16px;
    text-shadow: black;
    justify-content: center;
    justify-items: center;
  }
  
  