* {
  box-sizing:border-box;
  flex-direction: column;
  margin:0%;
  padding:0%;
  text-align: center;
  font-size: large;
  align-items: center;
  color:antiquewhite;
}

h1 {
  color: rgb(233, 198, 198);
  text-shadow: 1cm;
}

h5 {
  text-align: center;
  align-items:center;
  font-family: "Special Elite", cursive;
}

p:first-of-type {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  float: right;
}

p:nth-of-type(2) {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p:nth-of-type(3) {
  font-size: medium;
  font-weight: 400;
  text-decoration-color: aqua;
  color: rgb(180, 177, 177);
}

p:nth-of-type(4) {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
}

p:last-of-type {
  font-family: "Special Elite", cursive;
  font-size: small;
  text-decoration-style: solid;
  align-items: center;
}

form {
  float: right;
}
